body {
  width: 960px;
  margin: 50px auto;
}

table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

th {
  padding: 10px 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.062);
}

td {
  padding: 10px 15px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;}